<div class="container">
  <div class="jumbotron bg-transparent">
    <h1 class="display-4 text-primary">URL SHORTENER</h1>
    <form action="/create" method="POST">
      <div class="form-group">
        <label for="longURL" class="lead text-black-50">Paste your URL here:</label>
        <input {{#if shortUrl}} disabled {{/if}} required type="text" class="form-control" id="longUrl" name="longUrl"
          placeholder="https://" autocomplete="url" value="{{ longUrl }}">
        <small id="message" class="form-text text-danger">{{ msg }}</small>
      </div>
      <button {{#if shortUrl}} disabled {{/if}} type="submit" class="btn btn-info">Shorten</button>
  
      {{#if shortUrl}}
      <a class="btn btn-success" href="/" role="button">Back</a>
      {{/if}}
    </form>
    {{#if shortUrl}}
    <hr class="my-4">
    <p class="lead text-black-50">Short Url:</p>
    <div class="input-group mb-3">
      <input readonly type="text" class="form-control" id="txt_output" value="https://gentle-falls-00001.herokuapp.com/r/{{ shortUrl }}">

      <div class="input-group-append">
        <button class="btn btn-outline-info far fa-copy" type="button" id="button-addon2" data-toggle="tooltip" data-placement="top" title="copy" onclick="copyurl()">Copy</button>
      </div>
    </div>
    {{/if}}
  </div>
</div>