<div class="container">
 <div class="jumbotron bg-transparent">
  <h1 class="display-4 text-primary">URL SHORTENER</h1>
  <form action="/shorten">
    <div class="form-group">
      <label for="longURL" class="lead text-black-50">Paste your ling URL here:</label>
      <input type="text" class="form-control" id="longURL" name="longURL">
      <small id="message" class="form-text text-danger">{{{ msg }}} test message</small>
    </div>
    <button type="submit" class="btn btn-info">Submit</button>
  </form>  
  <hr class="my-4">
  <p class="lead text-black-50">Short URL:</p>
 </div>
</div>

